* { 
  margin: 0; 
  padding: 0; 
}
body {
  background: url('./wall.png') no-repeat center center;
  background-size: cover;
}
kbd {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 1px solid;
}
kbd > span.text {
  text-transform: uppercase;
}
kbd > button {
  display: none;
}
kbd:hover > button {
  display: inline-block;
  /* vertical-align: top; */
}
kbd > img {
  width: 1em;
  height: 1em;
}
main {
  text-align: center;
}
